<a href="https://colab.research.google.com/github/Rugger1/Kaggle_Titanic_Project_Attempt1/blob/main/Kaggle_Titanic_Project_Attempt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titanic Prediction

##Load Data

In [126]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

t_train = pd.read_csv('train.csv')
t_test = pd.read_csv('test.csv')

##Data Separation

In [127]:
features = ["Pclass", "Name", "Sex", "Age","SibSp", "Parch", "Fare"]
y_train = t_train['Survived']
X_train = t_train[features]
X_train

,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000
4,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500

In [129]:
X_test =  t_test[features]
X_test

,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,3,"Kelly, Mr. James",male,34.5,0,0,7.8292
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875
3,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875
...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,8.0500
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,108.9000
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,7.2500
416,3,"Ware, Mr. Frederick",male,NaN,0,0,8.0500
417,3,"Peter, Master. Michael J",male,NaN,1,1,22.3583

In [130]:
enc = preprocessing.OrdinalEncoder(encoded_missing_value=-1)
X_enc_train = enc.fit_transform(X_train)
X_enc_test = enc.fit_transform(X_test)

In [131]:
from sklearn.model_selection import train_test_split

Xs_train, Xs_test, ys_train, ys_test = train_test_split(X_enc_train, y_train, test_size=0.2, random_state=0)

##Model Building

###Decision Tree Classifier

In [132]:
DT= DecisionTreeClassifier()
DT.fit(Xs_train,ys_train)
y_dt_test_pred = DT.predict(Xs_test)

####Evaulate the Model

In [133]:
matches_dt = (ys_test == y_dt_test_pred)
percent_correct_dt = matches_dt.sum()/len(matches_dt)
percent_correct_dt

0.8100558659217877

####Deployment

In [134]:
y_dt_test_pred_deploy = DT.predict(X_enc_test)
len(y_dt_test_pred_deploy)

418

###Linear Regression

In [135]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(Xs_train, ys_train)
y_lr_test_pred = lr.predict(Xs_test)
y_lr_test_pred = y_lr_test_pred.round(0)

####Evaluate the Model

In [136]:
matches_lr = (ys_test == y_lr_test_pred)
percent_correct_lr = matches_lr.sum()/len(matches_lr)
percent_correct_lr

0.7821229050279329

####Deployment

In [137]:
y_lr_test_pred_deploy = lr.predict(X_enc_test)

###Logistic Regression

In [138]:
from sklearn.linear_model import LogisticRegression

logr = LogisticRegression(random_state=0)
logr.fit(Xs_train, ys_train)
y_logr_test_pred = logr.predict(Xs_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

####Evaluate the Model

In [139]:
matches_logr = (ys_test == y_logr_test_pred)
percent_correct_logr = matches_logr.sum()/len(matches_logr)
percent_correct_logr

0.7988826815642458

####Deployment

In [140]:
y_logr_test_pred_deploy = logr.predict(X_enc_test)

###Naive Bayes

In [141]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(Xs_train, ys_train)
y_gnb_test_pred = gnb.predict(Xs_test)

####Evaluate the Model

In [142]:
matches_gnb = (ys_test == y_gnb_test_pred)
percent_correct_gnb = matches_gnb.sum()/len(matches_gnb)
percent_correct_gnb

0.8100558659217877

####Deployment

In [143]:
y_gnb_test_pred_deploy = gnb.predict(X_enc_test)

###Random Forest

In [144]:
from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(Xs_train, ys_train)
y_rf_test_pred = model.predict(Xs_test)

#output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
#output.to_csv('submission.csv', index=False)
#print("Your submission was successfully saved!")

####Evaluate the Model

In [145]:
matches_rf = (ys_test == y_rf_test_pred)
percent_correct_rf = matches_rf.sum()/len(matches_rf)
percent_correct_rf

0.8212290502793296

####Deployment

In [146]:
y_rf_test_pred_deploy = model.predict(X_enc_test)

##Build Data Frame

In [147]:
percent_correct = [percent_correct_rf, percent_correct_dt, percent_correct_gnb, percent_correct_logr, percent_correct_lr]
predictions = [y_rf_test_pred_deploy, y_dt_test_pred_deploy, y_gnb_test_pred_deploy, y_logr_test_pred_deploy, y_lr_test_pred_deploy]
deploy_index = percent_correct.index(max(percent_correct))

PassengerId = pd.DataFrame({'PassengerId': t_test['PassengerId']})
Survived = pd.DataFrame({'Survived': predictions[deploy_index]})

# concatenating the DataFrames
df = pd.concat([PassengerId, Survived], join = 'outer', axis = 1)
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]